body{
	color: deeppink;
	text-align: center;
<<<<<<< HEAD
	font-family: "courier";
}

#cabecera{
	box-shadow: -12px 18px 24px 1px rgba(0,0,0,0.9);
}

#cabecera #tagine{
	padding: 0 0 0 1em;
	font-weight: normal;
	font-size: 0.8em;
=======
	font-family: "Arial";
}
#parrafo{
	border-radius: 131px 32px 32px 32px;
	-moz-border-radius: 131px 32px 32px 32px;
	-webkit-border-radius: 131px 32px 32px 32px;
	border: 0px solid #000000;
	background: orange;
>>>>>>> cabecera
}